<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key= "SqlConnection" value="asH5s0gjQWctNiVk0fqEj0lVZ8Kjy4aD+Vlzu9QfFioi/AbDdWv32p1iyjYnZPJiIT23ViV80KUBn2F1vdpN0edeGVZ9ExtCUZiMpTRCcRPKGYiTNkkyWAg1ISf2r83ZzGnm4vjVwgsZ55W6l+//YBzh0cUR0Y+oZE2CkcGDkLP5j6AglPIrGicRK8Xir6ozK77d5xHHUnpopDPV7CMBTMr/Vx8Ki9QprAFDGH4TlQAgm/VMMgvP+jvrTcKQ3l5e"/>
    <add key ="DataBaseType" value="Oracle"/>
    <add key= "SqlConnectionOris" value="asH5s0gjQWctNiVk0fqEj0lVZ8Kjy4aD+Vlzu9QfFioi/AbDdWv32p1iyjYnZPJiIT23ViV80KUBn2F1vdpN0edeGVZ9ExtCUZiMpTRCcRPKGYiTNkkyWAg1ISf2r83ZzGnm4vjVwgsZ55W6l+//YBzh0cUR0Y+oZE2CkcGDkLP5j6AglPIrGicRK8Xir6ozK77d5xHHUnpopDPV7CMBTMr/Vx8Ki9QprAFDGH4TlQAgm/VMMgvP+jvrTcKQ3l5e"/>
    <add key ="DataBaseTypeOris" value="Oracle"/>
    <add key ="port" value="5556"/>
    <add key ="Messageport" value="6666"/>
    <add key ="Listenter" value="0"/>
    <add key ="Serversize" value="1024"/>
    <add key ="Serverport" value="5588"/>
    <add key ="clientCount" value="50"/>
    <add key ="SingleApp" value="true"/>
    <!--语音系统模式0关闭1捷通语音2微软语音无法指定声卡-->
    <add key ="VoiceSystem" value="1"/>
    <add key ="VoiceSpeed" value="1"/>
    <add key ="RepeatCallTimes" value="3"/>
    <add key ="AndroidUpdate" value="0"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="RDAssembly"/>
    </assemblyBinding>
  </runtime>
</configuration>
