<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<div style="position:absolute;top:0px;left: 0px; width:1080px; height:1920px; z-index:-1;background-image: url('__PUBLIC__/SCSYY/images/Outpatient.jpg');">
			<!--<div style="line-height:108px;text-align:center;color: white;font-size: 45px;">
				<strong>深圳市第一人民医院--<?php echo $data[ksmc]; ?></strong>
			</div>-->
			<div style="position:absolute;top:250px;left:455px;width:630px;line-height:165px;text-align:center;color: white;font-size:180px;">
				<strong><?php echo $data[ysxm]; ?></strong>
			</div>
			<div style="position:absolute;top:530px;left:455px;width:630px;line-height:165px;text-align:center;color: white;font-size:80px;">
				<strong><?php echo $data[yszc]; ?></strong>
			</div>
			<div style="position:absolute;top:960px;left:188px;width:885px;line-height:170px;text-align:center;color: yellow;font-family:'微软雅黑';font-size:130px;">
				<?php echo $data[brxm]; ?><br/>
				<?php echo $data[pdhm]; ?>
			</div>
			<div style="position:absolute;top:1500px;left:188px;width:885px;line-height:170px;text-align:center;color: white;font-family:'微软雅黑';font-size:130px;">
				<?php echo $data[waitpatient]; ?><br/>
				<?php echo $data[waitnumber]; ?>
			</div>
		</div>
	</body>

</html>